[*.cs]

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = silent

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = silent
